# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Automation Test\BTL_FaHaSa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
